<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Footbal-Liga
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
    <div *ngFor="let liga of lista_liga">
      <ion-card>
        <img src="{{liga['Logo de la Liga']}}" alt="Logo de la liga">
        <ion-card-content>
          <ion-card-title>
            {{liga['Nombre De La Liga']}}
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
